{% extends 'app/base.html' %}
{% block content %}
<h2>Controle de Frequência</h2>
<table border="1">
    <tr>
        <th>Aluno</th>
        <th>Curso</th>
        <th>Disciplina</th>
        <th>Nº de Faltas</th>
    </tr>
    {% for freq in frequencias %}
    <tr>
        <td>{{ freq.pessoa.nome }}</td>
        <td>{{ freq.curso.nome }}</td>
        <td>{{ freq.disciplina.nome }}</td>
        <td style="color: red; font-weight: bold;">{{ freq.numero_faltas }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}